parameters:
    reportUnmatchedIgnoredErrors: false

    level: max

    paths:
        - src
        - tests/Resources/

    ignoreErrors:
        - identifier: missingType.iterableValue
        -
            message: '/Variable \$body in empty\(\) always exists and is not falsy\./'
            count: 1
            path: src/View/Class_/ClassView.php
        -
            message: '/Property Tests\\Prometee\\PhpClassGenerator\\Resources\\MixedTest::\$anOtherMixedFieldWithArray \(array<Tests\\Prometee\\PhpClassGenerator\\Resources\\MixedTest>\) does not accept array\./'
            count: 1
            path: tests/Resources/MixedTest.php
        -
            message: '/Attribute class Symfony\\Component\\Serializer\\Attribute\\SerializedName does not exist\./'
            count: 1
            path: tests/Resources/AttributeTest.php
