parameters:
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    level: max

    paths:
        - src
        - tests/Resources/

    ignoreErrors:
        -
            message: '/Variable \$body in empty\(\) always exists and is not falsy\./'
            count: 1
            path: src/View/Class_/ClassView.php
        -
            message: '/Property Tests\\Prometee\\PhpClassGenerator\\Resources\\MixedTest::\$anOtherMixedFieldWithArray \(array<Tests\\Prometee\\PhpClassGenerator\\Resources\\MixedTest>\) does not accept array\./'
            count: 1
            path: tests/Resources/MixedTest.php
